<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Operation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read User</a>
        </div>
        
        <h1 class="text-4xl tracking-tighter mb-3 text-white">Edit User</h1>
        <form action="/updateuser/<%= user._id %>" method="post">
            <input  class="px-5 py-3 mr-2 text-white border-2 border-zinc-800 rounded-lg bg-transparent outline-none" type="email" placeholder="Enter Your email" name="email" value="<%= user.email %>" >
            <input  class="px-5 py-3 mr-2 text-white border-2 border-zinc-800 rounded-lg bg-transparent outline-none" type="password" placeholder="Enter new password" name="password" value="<%= user.password %>">
            
            <input class="px-5 py-2 bg-yellow-500 rounded-lg ml-3 mt-3 hover:text-blue-500" type="submit" value="Save Changes">
        </form>
    </div>
</body>
</html>
