<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="w-full h-screen bg-fuchsia-300 flex items-center justify-center p-10">
        <div class="w-2/3 bg-purple-400 p-8 rounded-lg shadow-xl">
            <h1 class="text-4xl tracking-tighter mb-6 text-white text-center">Upload File</h1>
            <form action="/upload/<%= userId %>" method="post" class="flex flex-col items-center" enctype="multipart/form-data">                
                <div class="flex justify-between w-full mb-4 gap-4">
                    <div class="w-1/2 flex flex-col">
                        <!-- <div class="w-32 h-32 bg-red-500 mb-4">
                            <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        </div> -->
                        <label class="w-full px-5 py-3 mb-2 text-white text-lg hover:text-blue-500 transition-colors duration-300 ease-in-out" for="image">Upload Image</label>
                        <input class="w-2/3 px-5 py-3 mb-4 text-white border-2 border-white rounded-lg bg-transparent outline-none" type="file" name="profile" id="image" accept="image/*">
                    </div>

                    <div class="w-1/2 flex flex-col">
                        <!-- <div class="w-32 h-32 bg-red-500 mb-4">
                            <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        </div> -->
                        <label class="w-full px-5 py-3 mb-2 text-white text-lg hover:text-blue-500 transition-colors duration-300 ease-in-out" for="image">Upload Signature</label>
                        <input class="w-2/3 px-5 py-3 mb-4 text-white border-2 border-white rounded-lg bg-transparent outline-none" type="file" name="signature" id="image" accept="image/*">
                    </div>

                </div>

                <input class="px-5 py-2 bg-blue-500 text-white rounded-lg mt-3 hover:bg-sky-700 cursor-pointer" type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
